* {
  box-sizing: border-box;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

#header-center {
  margin: 0 auto;
  width: 1080px;
}

#header-search a {
  text-decoration: none;
}

#header-search h1 {
  display: inline-block;
  width: 222px;
  height: 52px;
  background-image: url(./sp_main.png);
  background-size: 457px 434px;
  background-position: 0 -158px;
  background-repeat: no-repeat;
  vertical-align: middle;
}

#header-search h1 span {
  display: none;
}

#header-search h2 {
  display: none;
}

#header-search fieldset {
  width: 586px;
  height: 56px;
  margin-left: 20px;
  padding: 0 0 0 0;
  border: 2px solid #19ce60;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
}

#header-search fieldset input {
  width: 474px;
  height: 50px;
  padding: 13px 15px;
  margin: 1px;
  background-color: #fff;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 700;
  outline: none;
  border: none;
}

#header-search fieldset button {
  width: 54px;
  height: 54px;
  border: none;
  padding: 0;
  background-color: #19ce60;
  cursor: pointer;
}

#search-image {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-position: -420px 0;
  background-size: 457px 434px;
  background-repeat: no-repeat;
  vertical-align: top;
  background-image: url(./sp_main.png);
  border-radius: 0 2px 2px 0;
}
