* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#fixed {
  position: fixed;
  top: 50px;
  right: 50px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

#header-center {
  margin: 0 auto;
  width: 1080px;
}

#header-search a {
  text-decoration: none;
}

#header-search h1 {
  display: inline-block;
  width: 222px;
  height: 52px;
  background-image: url(./sp_main.png);
  background-size: 457px 434px;
  background-position: 0 -158px;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: relative;
  top: -6px;
}

#header-search h1 span {
  display: none;
}

#header-search h2 {
  display: none;
}

#header-search fieldset {
  width: 586px;
  height: 56px;
  margin-left: 20px;
  padding: 0 0 0 0;
  border: 2px solid #19ce60;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  /* 자신의 컨테이닝 블록이 뭔지를 파악해야 position을 활용할 수 있다. 
    relative의 경우 static한 위치를 기반으로 이동
    absolute의 경우 자신을 감싸고 있는 컨테이닝 블록에 기반하여 이동
  */
}

#header-search fieldset input {
  width: 474px;
  height: 50px;
  padding: 13px 15px;
  margin: 1px;
  background-color: #fff;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 700;
  outline: none;
  border: none;
}

#header-search fieldset button {
  width: 56px;
  height: 56px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #19ce60;
  cursor: pointer;
  position: absolute;
  right: -2px;
  top: -2px;
}

#search-image {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-position: -420px 0;
  background-size: 457px 434px;
  background-repeat: no-repeat;
  vertical-align: top;
  background-image: url(./sp_main.png);
  border-radius: 0 2px 2px 0;
}
