* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Dotum, "돋움", Helvetica, "Apple SD Gothic Neo", sans-serif;
}

#fixed {
  position: fixed;
  top: 50px;
  right: 50px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
}

.relative {
  position: relative;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.center-align {
  margin: 0 auto;

  width: 1080px;
}

header {
  height: 160px;
}

#header-top {
  float: right;
  margin-top: 8px;
}

#header-top span {
  font-size: 11px;
  color: #404040;
  letter-spacing: -1px;
  line-height: 22px;
}

#header-search {
  clear: both;
  padding-top: 20px;
}

#header-search a {
  text-decoration: none;
}

#header-search h1 {
  display: inline-block;
  width: 222px;
  height: 52px;
  background-image: url(./sp_main.png);
  background-size: 457px 434px;
  background-position: 0 -158px;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: relative;
  top: -20px;
  left: 1px;
}

#header-search h1 span {
  display: none;
}

#header-search h2 {
  display: none;
}

#header-search fieldset {
  width: 586px;
  height: 56px;
  margin-left: 20px;
  padding: 0 0 0 0;
  border: 2px solid #19ce60;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -14px;
  left: 2px;
  /* 자신의 컨테이닝 블록이 뭔지를 파악해야 position을 활용할 수 있다. 
    relative의 경우 static한 위치를 기반으로 이동
    absolute의 경우 자신을 감싸고 있는 컨테이닝 블록에 기반하여 이동
  */
}

#header-search fieldset input {
  width: 474px;
  height: 50px;
  padding: 13px 15px;
  margin: 1px;
  background-color: #fff;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 700;
  outline: none;
  border: none;
}

#header-search fieldset button {
  width: 56px;
  height: 56px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #19ce60;
  cursor: pointer;
  position: absolute;
  right: -2px;
  top: -2px;
}

#search-keyboard {
  background-image: url(./sp_main.png);
  background-size: 457px 434px;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 12px;
  background-position: -420px -402px;
  background-repeat: no-repeat;
  vertical-align: middle;
  right: 8px;
}

#search-history {
  background-image: url(./sp_main.png);
  background-size: 457px 434px;
  display: inline-block;
  width: 10px;
  height: 5px;
  background-position: -408px -100px;
  background-repeat: no-repeat;
  margin: 0 -1px;
  vertical-align: middle;
}

#search-image {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-position: -420px 0;
  background-size: 457px 434px;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-image: url(./sp_main.png);
  border-radius: 0 2px 2px 0;
}

nav {
  height: 52px;
  margin: 0 auto;
  border-top: 1px solid #e0e4e7;
  border-bottom: 1px solid #eaeaea;
}

nav ul {
  display: inline-block;
  margin: 0;
  padding: 5px 0 0 5px;
  list-style: none;
}

#nav-ul {
  margin-left: 30px;
}

nav li {
  display: inline-block;
  padding: auto;
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: -0.3px;
}

nav li a {
  margin-left: 8px;
}

.fix_nav {
  color: #03c75a;
  line-height: 30px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.non_fix_nav {
  height: 30px;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

#mail-btn {
  width: 21px;
  height: 21px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 36px;
  top: -4px;
}

#mail-icon {
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url(./sp_main.png);
  background-position: -420px -73px;
  background-size: 457px 434px;
  background-repeat: no-repeat;
}

#shop-icon {
  display: inline-block;
  background-image: url(./sp_main.png);
  background-size: 457px 434px;
  width: 24px;
  height: 20px;
  background-position: -154px -389px;
  background-repeat: no-repeat;
  position: relative;
  top: 4px;
}

#shop-live-icon {
  display: inline-block;
  background-image: url(./sp_main.png);
  background-size: 457px 434px;
  width: 54px;
  height: 20px;
  background-position: -202px -299px;
  background-repeat: no-repeat;
  position: relative;
  top: 4px;
}

#pay {
  margin-right: 15px;
}

#tv-btn {
  width: 12px;
  height: 14px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: -4px;
}

#tv-icon {
  display: inline-block;
  width: 12px;
  height: 14px;
  background-image: url(./sp_main.png);
  background-position: -444px -49px;
  background-size: 457px 434px;
  background-repeat: no-repeat;
  position: relative;
  top: 5px;
  right: -10px;
}

.more {
  color: #202020;
  font-size: 13px;
  text-decoration: none;
}

#weather {
  position: absolute;
  top: 16px;
  right: 100px;
}

main {
  background-color: #f2f4f7;
  display: inline-block;
  width: 100%;
}

#main-centered {
  padding: 8px 10px 0;
  width: 1100px;
}

#main-ad {
  display: inline-block;
  width: 740px;
  height: 120px;
  background-color: #555;
}

#main-login {
  display: inline-block;
  width: 332px;
  height: 120px;
  vertical-align: top;
  background-color: #fff;
}

#main-ytn {
  display: inline-block;
  width: 740px;
  height: 46px;
  background-color: #fff;
}

#main-newstand {
  display: inline-block;
  width: 740px;
  height: 46px;
  background-color: #fff;
}

#main-weather {
  display: inline-block;
  width: 332px;
  height: 142px;
}

#main-second-ad {
  display: inline-block;
  width: 332px;
  height: 150px;
  background-color: #555;
}

#main-category {
  display: inline-block;
  width: 740px;
  height: 837px;
  background-color: #fff;
}

#main-shopping {
  display: inline-block;
  width: 332px;
  height: 837px;
  background-color: #fff;
}

#main-event {
  display: inline-block;
  width: 740px;
  height: 130px;
  background-color: #fff;
  vertical-align: top;
}

#main-third-ad {
  display: inline-block;
  width: 332px;
  height: 130px;
  background-color: #555;
}
