.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

#header-center {
  margin: 0 auto;
  width: 1080px;
}

#header-search a {
  text-decoration: none;
}

#header-search h1 {
  display: inline-block;
  width: 222px;
  height: 52px;
  background-image: url(./sp_main.png);
  background-size: 457px 434px;
  background-position: 0 -158px;
  background-repeat: no-repeat;
}

#header-search h1 span {
  display: none;
}

#header-search h2 {
  display: none;
}

#header-search fieldset {
  width: 582px;
  height: 52px;
  margin-left: 20px;
  padding: 0 0 0 0;
  border: 2px solid #19ce60;
  border-radius: 2px;
  display: inline-block;
}
