<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SWIDEA_SITE</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="nav justify-content-around">
      <a class="navbar-brand text-success" href="{% url 'posts:idea_home' %}"
        >My SW Idea Manage</a
      >
      <a class="nav-link text-success" href="{% url 'posts:idea_create' %}"
        >아이디어 등록</a
      >
      <a class="nav-link text-success" href="{% url 'posts:idea_home' %}"
        >아이디어 관리</a
      >
      <a class="nav-link text-success" href="{% url 'posts:dev_create' %}"
        >개별툴 등록</a
      >
      <a class="nav-link text-success" href="{% url 'posts:dev_home' %}"
        >개별툴 관리</a
      >
    </nav>
    <div class="container mt-5">
      <div class="top__container d-flex justify-content-center flex-wrap mb-5">
        <h5>Idea Detail Update</h5>
      </div>
    </div>
   
    <div class="container align-items-center d-flex justify-content-center flex-column">
      <form
        action="{% url 'posts:idea_update' idea.id%}"
        method="post"
      >
        {% csrf_token %}
        <div class="my-1">
          <input
            class='w-100'
            type="text"
            name="title"
            placeholder="제목"
            value="{{idea.title}}"
            required
          />
        </div>
        <p>현재 이미지 : {{idea.image}}</p>
        <p>변경 이미지</p>
        <input
          type="file"
          name="image"  
        />
        <div class="my-1">
          <textarea
            class='w-100'
            name="content"
            id=""
            cols="30"
            rows="10"
            required
          >{{idea.content}}</textarea>
        </div>
        <div class="my-1">
          <input
            type="number"
            name="interest"
            placeholder="아이디어 관심도"
            value="{{idea.interest}}"
            required
          />
        </div>  
        <div class="my-1">
          <span>예상 개발툴 : </span>
          <select name="dev_tool" id="cur">
            {% for tool in tools%}
            {% if tool.name == idea.dev_tool.name%}
            <option value="{{tool.name}}" selected>{{tool.name}}</option>
            {% else %}
            <option value="{{tool.name}}">{{tool.name}}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        <div>
          <input class='w-100'type="submit" value="수정하기" />
        </div>
      </form>
  </body>
</html>
