<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SWIDEA_SITE</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="nav justify-content-around">
      <a class="navbar-brand text-success" href="{% url 'posts:idea_home' %}"
        >My SW Idea Manage</a
      >
      <a class="nav-link text-success" href="{% url 'posts:idea_create' %}"
        >아이디어 등록</a
      >
      <a class="nav-link text-success" href="{% url 'posts:idea_home' %}"
        >아이디어 관리</a
      >
      <a class="nav-link text-success" href="{% url 'posts:dev_home' %}"
        >개별툴 등록</a
      >
      <a class="nav-link text-success" href="{% url 'posts:dev_detail' %}"
        >개별툴 관리</a
      >
    </nav>
    <div class="container mt-5">
      <div class="top__container d-flex justify-content-center flex-wrap mb-5">
        <h5>Idea List</h5>
      </div>
      <div class="card-group">
        <div class="card">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This card has supporting text below as a natural lead-in to
              additional content.
            </p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This card has even longer content
              than the first to show that equal height action.
            </p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
