<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>My Movie reviews</title>
    <style>
      a {
        text-decoration: none;
      }
      button {
        color: red;
        border: 0;
        background-color: transparent;
      }
    </style>
  </head>
  <body>
    {% load mathfilters %}
    <div class="container py-5">
      <div class="container">
        <ul class="nav fixed-top justify-content-between border-bottom">
          <li class="nav-item">
            <h3><a class="nav-link text-dark" href="/">my Movie reviews</a></h3>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'reviews:create' %}"
              >Add a New Review</a
            >
          </li>
        </ul>
      </div>
      <div class="container my-5" style="background-color: #c9ced3">
        <div class="d-flex align-items-center">
          <h3>{{ review.title }}</h3>

          <div class="px-3">
            <a href="{% url 'reviews:modify' review.id %}" class="text-success"
              >수정</a
            >
          </div>
          <form action="{% url 'reviews:delete' review.id %}" method="post">
            {% csrf_token %}
            <button>삭제</button>
          </form>
        </div>
        <div class="d-flex align-items-center">
          <img src="{{review.poster}}" alt="" />
          <div class="ms-5 w-100" style="background-color: #e3e8ed">
            <p>개봉년도: {{ review.release }}</p>
            <p>감독: {{review.director}}</p>
            <p>출연: {{review.actor}}</p>
            <p>장르: {{review.genre}}</p>
            <p>별점: {{review.star}}</p>
            <p>
              러닝타임: {{review.time|intdiv:60}}시간 {{review.time|mod:60}}분
            </p>
          </div>
        </div>
        <div class="py-2 my-3" style="background-color: #e3e8ed">
          {{review.content}}
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
